<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="links">
        <a href="http://127.0.0.1:5000/merge-pdf">Merge PDF</a>
        <a href="http://127.0.0.1:5000/split-pdf">Split PDF</a>
        <a href="http://127.0.0.1:5000/pdf-to-word">PDF to Word</a>
        <a href="http://127.0.0.1:5000/pdf-to-powerpoint">PDF to Powerpoint</a>
        <a href="http://127.0.0.1:5000/pdf-to-excel">PDF to Excel</a>
        <a href="http://127.0.0.1:5000/excel-to-pdf">Excel to PDF</a>
        <a href="http://127.0.0.1:5000/word-to-pdf">Word to PDF</a>
        <a href="http://127.0.0.1:5000/powerpoint-to-word">Powerpoint to PDF</a>
        <a href="http://127.0.0.1:5000/pdf-to-pdf">PDF to JPG</a>
        <a href="http://127.0.0.1:5000/jpg-to-pdf">JPG to PDF</a>
        <a href="http://127.0.0.1:5000/watermark">Watermark</a>
        <a href="http://127.0.0.1:5000/html-to-pdf">HTML to PDF</a>
        <a href="http://127.0.0.1:5000/unlock-pdf">Unlock PDF</a>
        <a href="http://127.0.0.1:5000/protect-pdf">Protect PDF</a>
        <a href="http://127.0.0.1:5000/rotate-pdf">Rotate PDF</a>
    </div>
</body>

</html>